<!DOCTYPE html>
<html ng-app="app">
	<head>
		<style>
			body{background-color:#fff;}
			form{width:600px;margin:15% auto;}
		</style>
		<link rel="stylesheet" href="./ionic.css" type="text/css"/>
		
		<script type="text/javascript" src="ionic.bundle.js"></script>
		<script type="text/javascript" src="index.js"></script>
		<script type="text/javascript">
			angular.module('app', ['ngFancySelect', 'ionic'])
				.controller('RandomController', function($scope) {
					$scope.simple = [ 'Brazil', 'China', 'France', 'Italy', 'Japan', 'USA' ];
					$scope.object = [
						{label: 'Brazil', value: 'BRL', selected: false},
						{label: 'China', value: 'CNY', selected: true},
						{label: 'France', value: 'EUR', selected: false},
						{label: 'Italy', value: 'EUR', selected: false},
						{label: 'Japan', value: 'JPY', selected: false},
						{label: 'USA', value: 'USD',selected: false}
					];
					$scope.selected = [
						'China',
						['France', 'Italy'],
						{label: 'China', value: 'CNY', selected: true},
						[
							{label: 'France', value: 'EUR', selected: false},
							{label: 'Italy', value: 'EUR', selected: false}
						]
					];
					log = function() { 
						console.log(JSON.stringify($scope.selected)); 
					}
					setInterval(log, 3000);
				});
		</script>
	</head>
	<body ng-controller="RandomController">
		<fancy-select ng-selected="selected[0]" ng-model="simple" title="Choose country">
		</fancy-select>
		<fancy-select ng-selected="selected[1]" ng-model="simple" multiple title="Choose countries">
		</fancy-select>
		<fancy-select-object ng-selected="selected[2]" ng-model="object" title="Choose currency">
		</fancy-select-object>
		<fancy-select-object ng-selected="selected[3]" ng-model="object" multiple title="Choose currencies">
		</fancy-select-object>
	</body>
</html>