<span>
	<a class="button icon-right ion-ios-arrow-down" ng-click="click()">
		{{selected() || title}}
	</a>
	
	<script id="fancy-select-items.html" type="text/ng-template">
	    <ion-view class="fancy-select-items modal">
	      <ion-header-bar class="bar-positive">
	
			<button ng-click="close()" class="button button-positive button-icon ion-ios-arrow-back"></button>
	        
	        <h1 class="title">{{title}}</h1>
			
	      </ion-header-bar>
	      <ion-content>
	        <div class="list">
	          <!-- Multi select -->
	          <ion-toggle
	                      ng-repeat="item in model"
	                      ng-if="multiple"
	                      ng-checked="item.selected"
	                      ng-model="item.selected"
	                      class="item item-text-wrap">
	            {{item.text}}
	          </ion-toggle>
	
	          <!-- Single select -->
	          <label
	                 ng-repeat="item in model"
	                 ng-if="!multiple"
	                 ng-click="select(item)"
	                 class="item item-text-wrap">
	            {{item.text}}
	          </label>
	        </div>
	      </ion-content>
	    </ion-view>
	</script>
</span>